<%- include("partials/header.ejs") %>

    <div class="auth">
        <div class="rest">
            <h1>Welcome Back!</h1>
            <img src="/images/welcome.png" height="300px" alt="">
        </div>


        <form action="/" method="POST">

            <div class="hi">
                <label for="username">Username</label> <br />
                <input type="text" id="username" name="username" placeholder="chinchinati34">
            </div>

            <div>
                <label for="password">Password</label> <br />
                <input type="password" id="password" name="password">
            </div>

            <p id="message" style="color:red">
                <% if(locals.message) { %>
                    <%= message %>
                        <% } %>
            </p> <br />

            <div>
                <button>LogIn</button>
            </div>

            <a href="/signUp">Don't have an account?</a>
        </form>
    </div>

    <%- include("partials/footer.ejs") %>