<%- include("partials/header.ejs") %>

    <div class="auth">

        <div class="rest">
            <h1>Welcome!</h1>
            <img src="/images/welcome.png" height="300px" alt="">
        </div>

        <form onsubmit="return validatePasswords()" action="/register" method="post" enctype="multipart/form-data">

            <div class="hi">
                <label for="profile"> <img class="profileImg" id="profileImg" src="/images/photo.jpg" width="70px">
                </label>
                <input id="profile" type="file" name="dp" accept="image/*" style="display: none;"
                    onchange="renderImg(event, id)">
            </div>

            <div class="hi">
                <label for="username">Username</label> <br />
                <input type="text" id="username" name="username" placeholder="chinchinati34" required>
            </div>

            <div class="hi">
                <label for="email">Email</label> <br />
                <input type="email" id="email" name="email" placeholder="user@example.com" required>
            </div>

            <div>
                <label for="password">Password</label> <br />
                <input type="password" id="password" name="password" required>
            </div>

            <div>
                <label for="confirmPassword">Re-type Password</label> <br />
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>

            <p id="message" style="color:red;">
            <% if(message) { %>
                <%= message %>
                    <% } %>
            </p> <br />

            <div>
                <button>SignIn</button>
            </div>

            <a href="/login">Already have an account?</a>
        </form>



    </div>

    <%- include("partials/footer.ejs") %>