body {
  background-color: #e8f9ff;
  color:#112d42
}

* {
  padding: 0;
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profileImg {
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgb(17, 45, 66);
  cursor: pointer;
}

main {
  flex: 1; /* pushes footer to bottom */
}

button {
  background: none;
  border: #c1d6f7;
  border-radius: 100px;
}

button:hover {
  box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.1), -5px -5px 15px #ffffff;
}

button:active {
  box-shadow: 2px 2px 5px rgb(17, 45, 66);
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
}

#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1%;
  background-color: #e8f9ff;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0px 20px;
  box-shadow: 2px 2px 2px  rgb(17, 45, 66);
  background-color: white;
}

.nav-links button {
  padding: .8em;
}

.nav-links > * {
  padding: 0 1%;
  align-items: center;
}

#logo {
  display: flex;
  margin-right: auto;
}

#logo h1 {
  font-family: "Libre Baskerville", serif;
  color: #112d42;
}

#msg {
  color: red;
  text-align: center;
  margin: 1%;
  display: none;
}

/* Auth */

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 40px;
}

.auth > * {
  width: 350px;
  height: 70vh;
}

.left > h1 {
  text-align: center;
}

.left > img {
  margin: 40px 70px;
}

.auth > form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

label {
  align-self: flex-start;
}

input {
  color: black;
  width: 220px;
  border: white;
  border-radius: 2%;
  line-height: 30px;
}

input:focus {
  box-shadow: 1px 1px 3px #3986ff, -1px -1px 5px #ffffff;
  outline: none;
}

form button {
  background-color: #3986ff;
  padding: 10px 30px;
  margin: 20px;
  font-family: 200;
}

form button:hover {
  background-color: #c1d6f7;
}

/* Homepage */

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  text-shadow: 0.5px 0.5px rgb(17, 45, 66);
}

.nav-btn.active > button {
  background:  rgb(17, 45, 66);
  color: white;
  font-weight: 600;
}

a.login > button {
  background-color: #c1d6f7;;
  border: 5px solid rgb(17, 45, 66);
  border-radius: 500px;
}

h2 {
  text-align: center;
}

.blogs {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.blog-card {
  background-color: white;
  outline: 1px inset rgb(17, 45, 66);
  box-shadow: 3px 3px 5px rgb(17, 45, 66);
  margin: 0% 15%;
  position: relative;
}

.blog-card img {
  width: min(100%, 300px);
  float: left;
  margin: 2%;
}

.content {
  margin: 2%;
}

.content * {
  clear: right;
  text-align: left;
  margin: 1% 0;
}

.btn {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 25px;
}

.save-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
}

.btn * {
  margin: 0 10%;
}

/* post/edit page  */

.post {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

.post > form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 2%;
  outline: 1px inset rgb(17, 45, 66);
  box-shadow: 3px 3px 5px rgb(17, 45, 66);
}

#title-input {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  width: 100vh;
  outline: none;
}

textarea {
  height: 200px;
  width: 100vh;
  border-width: 0px;
  font-size: 15px;
}

textarea:focus {
  outline: none;
  word-spacing: 0.5;
}

#publish_btn {
  background-color: green;
  color: white;
  border: green;
  border-radius: 2%;
}

/* blog-view  */

.blog-view {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2%;
  margin: 0px 20%;
}

.blog-view > * {
  padding: 1% 0;
  justify-content: start;
}

/* Footer */

footer {
  position: sticky;
  bottom: 0;
}


/* =========================
   Responsive (Mobile)
========================= */

@media (max-width: 768px) {

  /* Header / Navbar */
  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }

  #logo {
    justify-content: center;
    margin: 0 auto;
  }

  /* Auth pages */
  .auth {
    flex-direction: column;
    margin: 20px;
  }

  .auth > * {
    width: 100%;
    height: auto;
  }

  .left > img {
    margin: 20px auto;
    display: block;
  }

  /* Blog cards */
  .blog-card {
    margin: 0 5%;
  }

  .blog-card img {
    float: none;
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
  }

  /* Post / Edit page */
  #title-input,
  textarea {
    width: 90vw;
  }

  /* Blog view */
  .blog-view {
    margin: 0 5%;
  }

  /* Buttons alignment */
  .btn {
    position: static;
    justify-content: center;
    margin: 10px 0;
  }
}


